
body {
    
    background-color: rgb(68, 1, 132);
    color:white
    
    
}

main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:80%;
    max-width: 80%;
    
  }
  

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

p a{

    color: white;
}

h1, h2, h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


ul li b, img {
    vertical-align: middle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgb(51, 0, 99);
}

li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center; 
    padding: 14px 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}


li a:hover {
    background-color: blueviolet;
}

li a b img {
    height: 23px;
    width: 40px;
}

.container {
    position: absolute;
    top: 65%;
    left: 50%;
    height: 400px;
    width: 80%;
    background:rgb(68, 1, 132);
    transform: translate(-50%, -50%);
    border: 1px solid#fff;
    overflow: hidden;
}

.navi {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
}

.navi .bar {
    height: 5px;
    width: 45px;
    background: #fff
    cursor: pointer;
    border: 2px solid #fff;
    margin-left: 8px;
    box-shadow: 2px 2px 6px #fff,-2px -2px 6px #fff;
}

.navi .bar:hover {
    background: #fff;
}

input[type="radio"]{
    position: absolute;
    visibility: hidden;
}

.slideshow {
    display: flex;
    height: 100%;
    width: 500%;
}

.bild {
    width: 20%;
    transition: 0.4s ease;
}

img {
    height: 500px;
    width: 100%
}

#knapp1:checked ~ .ett{
    margin-left: 0;
}
#knapp2:checked ~ .ett{
    margin-left: -20%;
}
#knapp3:checked ~ .ett{
    margin-left: -40%;
}
#knapp4:checked ~ .ett{
    margin-left: -60%;
}